# typeattributeg ueventd data_between_core_and_vendor_violators;

allow ueventd self:capability sys_nice;
allow ueventd vfat:dir search;
allow ueventd vfat:file r_file_perms;
